<div class="d-flex flex-column w-100 mb-2" style="border: 2px dashed gray;">
  <div [sortablejs]="previews" >
    <div class="px-4 m-4" *ngFor="let preview of previews; let i = index;">
      <div class="d-flex flex-row align-items-center">
        <span class="w-100" style="
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;"
        >
          {{i+1}}. {{preview.name}}{{preview.name}}{{preview.name}}
        </span>
        <i class="fa fa-times ml-1" aria-hidden="true" (click)="onDeleteImage(i)"></i>
      </div>
      <img style="width: 100%;" [src]="preview.src" class="preview">
    </div>
  </div>

    <div class="m-2 d-flex align-items-center justify-content-center" style="min-height: 150px; background-color: lightgray;" (click)="onClickFileInputButton()">
      <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()" multiple />

        <span>画像ファイルを追加</span>

    </div>
</div>
