<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-5">画像をよしなにがっちゃんこするサイト</h2>
    <p class="lead">{{app_ver}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-2">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove(f)" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
          <!-- <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label> -->
        </ngx-dropzone-image-preview>
      </ngx-dropzone>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-12 mb-2">
      <button *ngIf="!processing" class="btn btn-lg btn-block btn-primary" style="margin-bottom: 10px;" [disabled]="files.length < 2" (click)="onJoin()">がっちゃんこ!!</button>
      <label *ngIf="processing" >Processing...</label>
    </div>
    <div class="col-md-4 col-12 mb-2">
      <button class="btn btn-lg btn-block btn-primary" [disabled]="imageSrc == ''" style="margin-bottom: 10px;" (click)="onDownload()">ダウンロード</button>
    </div>
    <div class="col-md-4 col-12 mb-2">
      <button class="btn btn-lg btn-block btn-primary" [disabled]="imageSrc == ''" *ngIf="canShare" style="margin-bottom: 10px;" (click)="onShare()">シェア</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img class="w-100" [src]="imageSrc">
    </div>
  </div>

</div>
